<!-- <!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org " th:fragment="summary">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>IPS ADMIN PAGE</title>




<link rel="stylesheet" type="text/css" href="css/bootstrap4.css">




<style>


  
  body
  {
 background-color:lightgrey;

  }
  
 button
 {
 background-color: #274565;
	color: white;
	padding: 16px 20px;
	border:none;
	cursor: pointer;
	opacity: 0.8;
	bottom: 23px;
	right: 28px;
	width: 250px;
	}




 .pagebut{
	margin-top: 1%;
   /*  width: 58%;  */
   height:10%;
    padding: 1% 1%;  
    background-color:#2e455d;
    color: white;
    
} 
     
  </style> 
  </head>
  
  <body>

  <div class="container" >
  <h3 class="text-center pagebut">ADMIN</h3> 
  
  


  <button   onclick="contentLoad(this)" id="Para" >Parameter Setup</button> <button onclick="contentLoad(this)" id="Trans">Transaction Inquiry</button>
     
</div>
  
  </body> -->